@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
 body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
  background-color: gainsboro;
}
.container{
    background-color:rgb(114, 104, 104);
    width: 310px;
    box-shadow:  6px 4px 4px black;
}
.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}
.button:hover{
    background-color: rgb(128, 143, 143);
}
.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}
.text-center{
    text-align: center;
    text-shadow: 0px 3px 3px black;
  }
  
  .bg-red{
    background:red;
  }
  
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }